<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/meta-ps/FilDrop/master/logo.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>FilDrop</title>
    <style>
        pre {
            padding: 1rem;
            background: #211e2f;
            margin-bottom: 0;
            color: white;
            background-color: #211E2F;
            font-family: Menlo, Monaco, 'Courier New', monospace;
            font-size: 14px;
            text-align: left;
            white-space: pre;
            word-spacing: normal;
            word-break: normal;
            word-wrap: normal;
            line-height: 104px;
        }
    </style>
</head>

<body>
    <h3 class="mb-2 text-[28px] font-bold text-zinc-800">Deploy</h3>
    <div id="container">
        <pre>
            {{response}}
        </pre>
    </div>
</body>

</html>