{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    User page
    {{WalletAddress}}
    <form action="{% url 'addCollection' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="collection-item"><input type="submit" value="+">
    </form>

    <br />



    {% for i in usercollection_objects %}
    <div>

        <form method="post" enctype="multipart/form-data" action="{% url 'imageUpload' i.id %}">
            {% csrf_token %}
            <p> {{i.collection_name}} </p>
            <input name="allimages" type="file" required multiple>
            <br>
            <button type="submit">Upload</button>
            <br>
        </form>
    </div>

    {% endfor %}


    <br>
    <br>

    <img src="https://ipfs.io/ipfs/bafybeiae3ibdswp3poi56uhmcjorzuz7otbd2q6wxukatzq7mgwgfg6xme/2">



</body>

</html>